{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container ">
    <div class="row">
        <div class="col-sm-8 " style="width: 18rem; font-family: 'Courier New', 'Courier', 'monospace'">
            <h2>About Myself</h2>
            <br>
            <hr>
            <br>
            <content>Name: Sammie Wayne Dylan Kendrick<br>
                Birthdate: 12/22/1986<br>
                Cognitive Functions: Ti>Ne>Si>Fe<br>
                <br>
                <hr>
                <br>

                Born in 1986, growing up I had always had an interest, passion and use for computer. My first love has
                been music, though the fury was fed through computers. The Python programming language has been a great
                teacher of logical thinking, idea mapping and problem solving, and I just cannot find enough.

                <br>
                <hr>
                <br>
                With this in mind, I've created this Flask based website to share some of my previous creations, and to
                hopefully share a few more. Thanks for stopping by, and please contact me if you're interested in
                working together. I am a self-learner. I enjoy teaching myself new concepts, stumbling across new
                philosophies and challenging myself and others to do the same.

            </content>
        </div>
        <div class="card" style="width: 18rem; font-family: 'Courier New', 'Courier', 'monospace'">
            <img class="card-img-top" src="static/css/profile.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Data</h5>
                <p class="card-text">Name: Sammie Wayne Dylan Kendrick<br>
                    Birthdate: 12/22/1986<br>
                    Cognitive Functions: Ti>Ne>Si>Fe(INTP)<br>
                    .</p>
                <a href="#" class="btn btn-primary">Contact</a>
            </div>
        </div>

        <br>
        <hr>
        <br>

    </div>
</div>
</div>
{% endblock %}