{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container animated fadeInLeftBig">
    <div class="row">
        <div class="col-md-12 ">
            <h2 class=""></h2>

            <hr>
            <hr>

            <h3 style="text-align: center;">Projects in Software</h3>
            <hr>
            <hr>
            <h3 class="list-group" style="text-align: center;">Python Developer<br></h3>
            <h4 style="text-align: center;">Weather App <a
                    href="https://github.com/Pneuro/Web-Scraper-items/blob/master/venv/scraper.py"><img
                        style="width: 20px;" src="../static/css/github_tiny.png" alt=""></a>

            </h4>

            <p>


                <h5 class="list-group-item" style="text-align: center;">November 2019 - Current</h5><br>
                <div id="weather-display">
                    <h5 style="background-color: #2F4858;
                    color: #F6AE2D; text-align: center;" class="list-group-item">Simple weather app</h5><br>
                    <li style="background-color: #2F4858;
                    color: #F6AE2D;" class="list-group-item">The current weather is {{ weather_display.summary }}</li>
                    <li style="background-color: #2F4858;
                    color: #F6AE2D;" class="list-group-item">The current temperature is
                        {{ weather_display.temperature }}</li>
                    <li style="background-color: #2F4858;
                    color: #F6AE2D;" class="list-group-item">The current humidity is {{ weather_display.humidity }}
                    </li>
                    <li style="background-color: #2F4858;
                    color: #F6AE2D;" class="list-group-item">The current air quality indicator reads
                        {{ weather_display.OzoneAQI }}
                    </li>
                    <li style="background-color: #2F4858;
                    color: #F6AE2D;" class="list-group-item">The current weather feels like {{ weather_display.feels }}
                    </li>
                    <li style="background-color: #2F4858;
                    color: #F6AE2D;" class="list-group-item">The current time is {{ weather_display.Time }}</li>
                </div>
                <br>
                <li class="list-group-item">Login verification(single user)<br></li>
                <li class="list-group-item">Reach out to dark sky API<br></li>
                <li class="list-group-item">Narrow down data from bson(requests)<br></li>
                <li class="list-group-item">Temperature<br></li>
                <li class="list-group-item">Humidity<br></li>
                <li class="list-group-item">Convert temperature to celsius<br></li>
                <li class="list-group-item">Store data to MongoDB.<br></li>
                <li class="list-group-item">Display greeting with all relevant information and changing response based
                    on results.</li><br>
                <hr>
                <hr>
                <br>
                <h5 class="list-group">This Website build with the <strong>Flask Framework</strong></h5><br>
                <a href="">Github Link</a>
                <li class="list-group-item">Simple Web App(Flask Framework)<br>
                <li class="list-group-item">Utilize Flask templates<br>
                <li class="list-group-item">Functionality<br>
                <li class="list-group-item">Web Scraper displays data from multiple other websites in one location.
                </li>
                <li class="list-group-item">Flask/Jinja 2 syntax<br></li>
                <li class="list-group-item">HTML/CSS(BS4)<br></li>
                <br>
                <hr>
                <hr>
                <br>
                <h5 class="list-group">Storm Bored(Flask Framework)</h5> <br>
                <a href="">Github Link</a>
                <li class="list-group-item text-danger">Under development<br></li>
                <li class="list-group-item">Steps<br></li>
                <li class="list-group-item">Provide a blank typing box for unique users to store brainstorms.
                    Brainstorms will be written on a
                    screen that will not allow you to see what is written to allow the writer a clearer focus on the
                    creativity, and not the mistakes and typos. Get the idea out first.<br></li>
                <li class="list-group-item">Store data to database<br></li>
                <li class="list-group-item">Allow storage of images/videos used for inspiration.<br></li>
                <li class="list-group-item">Ship MVP<br></li>
                <li class="list-group-item">Growth will include utilizing Flasks capabilities to expand to a mobile
                    app, voice recognition, and
                    data
                    gathering.<br></li>

            </p>
            <br>
            <br>
            <hr>

            <hr>
            <br>
            <br>
            <h5 class="list-group">Previous Experience/Skills</h5><br>
            <h6 class="list-group">Music</h6>
            <li class="list-group-item">25+ years of music experience ranging from music production through
                education.
            </li>
            <li class="list-group-item">Formal Audio Engineering and Music Production training at <a
                    href="http://www.recordingworkshop.com">Recording Workshop</a> in Chillicothe, OH.</li>
        </div>

    </div>
</div>
</div>
{% endblock %}