<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block head %} {% endblock %}
    {% if title %}
    <title> Sammie Kendrick Resume - {{ title }}</title>
    {% else %}
    <title>Sammie Kendrick Resume</title>
    {% endif %}
</head>

<body id="daddy">
    <nav class="navbar navbar-expand-sm nav-col navbar-dark sticky-top">

        <div class="collapse navbar-collapse container" id="collapsibleNavbar">
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
                    <a class="nav-item nav-link" href="{{ url_for('softeng') }}">Software Engineering</a>
                    <a class="nav-item nav-link" href="{{ url_for('music') }}">Music</a>
                    <a class="nav-item nav-link" href="{{ url_for('contact') }}">Contact</a>
                </div>
            </div>
            <div class='navbar-nav'>
                <a class="nav-item nav-link" href="/login">Login</a>
                <a class="nav-item nav-link" href="/register">Register</a>
            </div>
    </nav>
    <div class="jumbotron text-center"
        style="background-image: url(static/css/pib_sunset_crop.png); background-size: 120%; background-position: center; padding: 150px;">
        <div class="mybody shadow rounded">
            <br>
            <hr>
            <br>
            <h1>Sammie Kendrick</h1>
            <p>Built with Flask, the Python framework. </p>
            <br>
            <hr>
            <br>
        </div>
    </div>
    <div class="container bg-caution">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class='alert alert-{{ category }}'>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block body %}
        {% endblock %}
    </div>
    <div class="myfooter mybody sticky-top">
        <footer>
            <div>
                <p> // Neuro Design // Copyright 2020 //</p>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>