{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container-fluid " style="font-family: 'Courier New', 'Courier', 'monospace'; ">

    <h1 class="">Web Scraper</h1>
    <div class="container">
        <div class="row">

            <div class="container-fluid">
                <small>The items below are displayed via the beautifulsoup4 webscraper, through flask.</small>
                {% for item in results %}
                <p> {{ item }} </p>
                {% endfor%}
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="row">
            <h2>Sammie Kendrick, A Twitter.</h2>
            <div class="container"><a class="twitter-timeline"
                    href="https://twitter.com/sammie_kendrick?ref_src=twsrc%5Etfw">Tweets by
                    @sammie_kendrick</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>
{% endblock %}