{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container col-sm-4">
    <div class="formwrapper">
        <h2 class="title">Contact</h2>
        {{ csrf_token }}
        <form action="{{ url_for('contact') }}" method=post>

            <ul class="list-group">{{ form.name.label }} {{ form.name }}</ul>
            <ul class="list-group">{{ form.email.label }} {{ form.email }}</ul>
            <ul class="list-group">{{ form.body.label }} {{ form.body }}</ul>
            <ul class="list-group">{{ form.employer.label }} {{ form.employer }}</ul><br>
            <ul class="list-group">{{ form.submit }}</ul>
        </form>
    </div>
</div>

{% endblock %}