{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container" style="width: 30rem; font-family: 'Courier New', 'Courier', 'monospace'">
    <div class="row">
        <div class="card" style="width: 30rem; font-family: 'Courier New', 'Courier', 'monospace'">
            <img class="card-img-top" src="static/css/profile.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Data</h5>
                <p class="card-text">Name: Sammie Wayne Dylan Kendrick<br>
                    <a class="animated flash delay-2s" type='email'
                        href="thedylankendrick@gmail.com">thedylankendrick@gmail.com</a><br>
                    Cognitive Functions: Ti>Ne>Si>Fe(INTP)<br>
                </p>

            </div>
        </div>
    </div>
</div>
</div> {% endblock %}