{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div style="font-family: 'Courier New', 'Courier', 'monospace'">
    <div class="container animated rotateInUpRight" id="overlaywhite">
        <div>
            <h1>Music</h1>
            <p>I've gathered here a collection of work in the music field.</p>
        </div>
        <div id="accordion" role="tablist">
            <div class="card bg-dark text-white">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
                            class="collapsed text-white justify-content-center">
                            Silent Hearts
                        </a>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body">
                        <div class="d-flex flex-sm-column collapse">
                            <div class="row">
                                <div class="container col-sm-12" style="align-content: center;">
                                    <h4 class="text-center">Silent Hearts</h4>

                                    <p>My passion for software engineering is fierce, though it is not my first love.
                                        I've
                                        taken
                                        the time to
                                        understand,
                                        respect, and maintain an understanding of the musical frameworks of theory, the
                                        industry, audio
                                        engineering
                                        and
                                        music production. Performed on hundreds of stages and entertained thousands of
                                        people.
                                    </p>
                                </div>
                            </div>
                            <div class="container col-sm-8" id="stranger">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/JgvqIDfSG2E"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                            <a class="text-danger justify-content-center animated flash delay-2s"
                                href="http://www.silentheartsoh.com/">Official
                                Website!</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="collapsed text-white" data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            Dylan Kendrick Music
                        </a>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                    style="align-content: center;">
                    <div class="card-body">
                        <div style="align-content: right;">
                            <div class="">
                                <div class="">
                                    <div class="container" style="align-content: center;">
                                        <iframe width="40%" height="300" scrolling="no" frameborder="no"
                                            allow="autoplay"
                                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/722897275%3Fsecret_token%3Ds-lcehc&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                                    </div>
                                </div>
                                <div>
                                    <p> this is where an instagram embed should go.</p>
                                    <embed
                                        src="https://www.instagram.com/p/BdMKpFul6HtZOryLazaEOwuwNvC8iP4eOkeYYw0/?igshid=119ydl74lz44p">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}