{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container ">
    <div class="row">
        <div class="col-sm-8 " style="width: 18rem; font-family: 'Courier New', 'Courier', 'monospace'">
            <h2>Software Engineering </h2>
            <div>
                <p> The beginning of programming was in November of 2019. I've had a strong passion for not only
                    computers, but learning and problem solving. With this fundamental drive, I've chosen to learn the
                    Python programming language. <br>
                    Tasks I've given myself. <ul>
                        <li><strong>Web Scraper (BeautifulSoup4</strong>)</li>
                        <li>Weather Application with login verification. Utilizing the <strong>Dark Sky API</strong>,
                            <strong>MongoDB</strong>, <strong>Requests</strong>,
                            and more standard <strong>Python</strong> modules. </li>
                        <li><strong>Flask</strong> portfolio website utilizing <strong>templates</strong>,
                            <strong>Jinja2</strong>
                            syntax,<strong> HTML</strong>, <strong>CSS</strong>, and some of my own
                            photography and work in other fields. </li>
                    </ul>
                </p>
            </div>

        </div>
        <div class="card" style="width: 18rem; font-family: 'Courier New', 'Courier', 'monospace'">
            <img class="card-img-top" src="static/css/profile.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Data</h5>
                <p class="card-text">
                    Name: Sammie Wayne Dylan Kendrick<br>
                    Birthdate: 12/22/1986<br>
                    Cognitive Functions: Ti>Ne>Si>Fe(INTP)<br>
                </p>
                <a href="/Contact.html" class="btn btn-primary">Contact</a>
            </div>
        </div>
    </div>
</div>
<div>

</div> {% endblock %}