{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container ">
    <div class="row">
        <div class="col-sm-8 " style="width: 18rem; font-family: 'Courier New', 'Courier', 'monospace'">
            <h2>Software Engineering </h2>
            <div>
                <p> {% print(varia) %}</p>
            </div>

        </div>
        <div class="card" style="width: 18rem; font-family: 'Courier New', 'Courier', 'monospace'">
            <img class="card-img-top" src="static/css/profile.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Data</h5>
                <p class="card-text">
                    Name: Sammie Wayne Dylan Kendrick<br>
                    Birthdate: 12/22/1986<br>
                    Cognitive Functions: Ti>Ne>Si>Fe(INTP)<br>
                </p>
                <a href="/Contact.html" class="btn btn-primary">Contact</a>
            </div>
        </div>
        <div>
            <h1 class="lead container col-sm-8">{% print(results) %}</h1>
        </div>
    </div>
</div>
{% endblock %}