html, body {
    background-color: #0D1317;
}
.mybody {
    text-align: center;
    border: #0D1317;
    border-radius: 0ch;
    color: rgb(255, 255, 255);
    font-family: "Courier New", Courier, monospace;
}

#daddy {
    font-family: "Lucida Console", "Lucida Sans Typewriter",
}


.nav-col {
    background-color: #0D1317;
}

#myimage {
    height: auto;
}
.scheme {
    background-color: #0D1317;
}
#overlay {
    text-shadow: 1px 1px 1px black,
             1px 1px 1px black;
}
#overlaywhite {

}
#stranger {
    padding: 5px;
    
}
.myfooter {
    margin-top: 100px;
    padding-top: 2em;
    padding-bottom: 2em;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    background-color: #0D1317;
    text-shadow: black;
}