body {
    /* margin: 0;
    background-color: #3A435E;
    color: aquamarine;
    background-image: url('NorwalkRes.png');
    background-color: #313e50;
    background-size: auto;
    background-position: top left;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite; */
}
.mybody {
    text-align: center;
    border: #3A435E;
    border-radius: 0ch;
    color: aliceblue;
    background-color: #3A435E;
}


.mycontainer {
    background-image: url('NorwalkRes.png');
}
.music {
    background-color: #E04700;
}

#myfooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    color: white;
    text-align: center;
    background-color: #3A435E;
}