html, body {
    background-color: #0D1317;
    
}
.mybody {
    text-align: center;
    border: #0D1317;
    border-radius: 0ch;
    color: rgb(255, 255, 255);

}


#burst {
    -webkit-transform: rotate(12deg);
    -webkit-animation: infinite;
}

.nav-col {
    background-color: #0D1317;
}

#myimage {
    height: auto;
  
}
.scheme {
    background-color: #0D1317;
}
#overlay {
    text-shadow: 2px 2px 2px black,
             2px 2px 2px black;


}

#stranger {
    padding: 5px;
    
}
.myfooter {

    padding-top: 1em;
    padding-bottom: 1em;
    bottom: 0em;


    text-align: center;
    color: white;
    background-color: #0D1317;
    text-shadow: black;
}